<div class="home1">
    <center>
        <div class="container1">
            <div class="dropdown-container" tabindex="-1">
                <div class="three-dots"></div>
                <div class="dropdown">
                <a href="#"><div>{{user}}</div></a>
                <a href="#"><div>even more scams</div></a>
                <a href="#"><div>still some money left?</div></a>
                </div>
            </div>        
        </div>
    </center>
</div>


