<!--<td bgcolor="#ffffff">4</td>-->
{{> header this}}
<div class="fondoJuego">
    <table width="600" height="600px"; border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
        <tr align="center">
            <td bgcolor="#ffffff" class="numColumna"><font >X</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >1</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >2</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >3</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >4</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >5</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >6</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >7</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >8</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >9</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >10</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >11</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >12</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >13</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >14</font></td>
            <td bgcolor="#ffffff" class="numColumna"><font >15</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>A</font></td>
            <td id="A1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A5" onclick="elegirBarco(id)" class="celda" value = 0 ><font color="#ffffff">1</font></td>
            <td id="A6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="A15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center" B>
            <td bgcolor="#ffffff"><font>B</font></td>
            <td id="B1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="B15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>C</font></td>
            <td id="C1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="C15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>D</font></td>
            <td id="D1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="D15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>E</font></td>
            <td id="E1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="E15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>F</font></td>
            <td id="F1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="F15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>G</font></td>
            <td id="G1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="G15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>H</font></td>
            <td id="H1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="H15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>I</font></td>
            <td id="I1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="I15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>J</font></td>
            <td id="J1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="J15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>K</font></td>
            <td id="K1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="K15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>L</font></td>
            <td id="L1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="L15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>M</font></td>
            <td id="M1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="M15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>N</font></td>
            <td id="N1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="N15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
        <tr align="center">
            <td bgcolor="#ffffff"><font>Ñ</font></td>
            <td id="Ñ1" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ2" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ3" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ4" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ5" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ6" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ7" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ8" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ9" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ10" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ11" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ12" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ13" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ14" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
            <td id="Ñ15" onclick="elegirBarco(id)" class="celda" value = 0><font color="#ffffff">1</font></td>
        </tr>
    </table>

    <button type="button" onclick="direccion()" class="pixel2 grey" id="cambiarDireccion">Cambiar direccion</button>
    <button type="button" onclick="guardarBarcos()" class="pixel2 grey" id="guardarBarcos">Jugar</button>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    let idUsuario = {{idUsuario}};
    let idPartida = {{idPartida}}
    document.getElementById("idOculto").value = idUsuario;
    document.getElementById("idPartidaOculto").value = idPartida;
  });
</script>