<div class="home">
  <br>
  <br>
  <center><p class="txtHome">AGUAS EN</p></center>
  <center><p class="txtHome">LLAMAS</p></center>
    <div class="btnStart">
        <center>
          <form action="/home2" method="get">
            <input type="submit" class="pixel yellow" value="START">
          </form>
        </center> 
    </div>  
</div>