<div class="home">
  <br>
  <br>
  <center><p class="txtHome" id="box1">AGUAS EN</p></center>
  <center><p class="txtHome" id="box2">LLAMAS</p></center>
  <br>
  <div class="btnStart">
      <center>
        <form action="/home2" method="get">
          <input type="submit" class="pixel yellow" id="box3" value="START">
        </form>
      </center> 
  </div>  
</div>