<div class="home2">
  <div class="btnSesion">
    <div class="containerSesion">
      <center>
        <form action="login" method="get">
          <input type="submit" class="pixel1 yellow" id="box1" value="Iniciar Sesión">
        </form>
      </center>
      <center>
        <form action="/register" mehod="get">
          <input type="submit" class="pixel1 yellow" id="box1" value="Registrarse">
        </form>
      </center>
    </div>
  </div>
</div>