{{> header this}}
<div class="home3">
<div class="home1">
  <div class="btnSesion">
    <div class="containerSesion">
      <center>
        <input type="button" class="pixel1 yellow" id="box9" value="Jugar" onclick="buscarPartida()">
      </center>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var idUsuario = {{idUsuario}};
    document.getElementById("idOculto").value = idUsuario;
  });
</script>

