<div class="home3">
  <div class="btnSesion">
    <div class="containerSesion">
      <center>
        <form action="/juego" method="get">
          <input type="submit" class="pixel1 yellow" id="box3" value="Jugar">
        </form>
      </center>
      <center>
        <form action="/skins" mehod="get">
          <input type="submit" class="pixel1 yellow" id="box4" value="Cambiar Skins">
        </form>
      </center>
    </div>
  </div>
</div>