<div class="home1">
  <div class="btnSesion">
    <div class="containerSesion">
      <center>
        <form action="/juego" method="get">
          <input type="submit" class="pixel1 yellow" id="box9" value="Editar/Borrar Usuarios">
        </form>
      </center>
    </div>
  </div>
</div>
