<input name="idOculto" id="idOculto"></input>
<input name="idPartidaOculto" id="idPartidaOculto"></input>
<div class="fondoLogin">
  <div class="btnSesion">
    <div class="containerSesion2">
      <center>
        <form action="/login" method="post">
          <input type="email" name="email" class="css-input" id="box5" placeholder="Correo electrónico" required />
          <br>
          <br>
          <br>
          <input type="password" name="password" class="css-input" id="box6" placeholder="Contraseña" required />
          <br>
          <button type="button" class="pixel2 grey" id="box7" onclick="putJSON()">Iniciar sesión</button>  
        </form>
          <form action="/register" method="get" class="container-sm">
            <p class="aaa" id="box8">¿No Tienes Cuenta?<button type="submit" class="" id="box8">Registrate</button></p>      
          </form>
      </center>
    </div>
  </div>
</div>