<div class="login">
  <div class="btnSesion">
    <div class="containerSesion2">
      <center>
        <form action="/login" method="post">
          <input type="email" name="email" class="css-input" placeholder="Correo electrónico" required />
          <br>
          <br>
          <br>
          <input type="password" name="password" class="css-input" placeholder="Contraseña" required />
          <br>
          <button type="submit" class="pixel2 grey">Iniciar sesión</button>
        </form>
      </center>
    </div>

  </div>
    
</div>
