{{> header this}}
<div class="home3">
<div class="home1">
  <div class="btnSesion">
    <div class="containerSesion">
      <form action="/perdiste" method="POST">
          <input type="submit" class="pixel yellow" id="box1" value="LOSE">
        </form>
    </div>
  </div>
</div>


