<div class="home3">
  <div class="home1">
    <div class="btnSesion">
      <div class="containerSesion">
        <form action="/home3" method="GET">
            <input type="submit" class="pixel yellow" id="box1" value="LOSE">
          </form>
      </div>
    </div>
  </div>
</div>


