*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden
}
.home{
  background-image:url("/img/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.txtHome {
  font-family: 'Bungee Spice', cursive;
  font-size: 140px;
}

/* Step 1: Build the Animation */
@-webkit-keyframes aniload {
  from {-webkit-transform:translate(0px, 1000px)}
  to   {-webkit-transform:translate(0px, 0px)}
}

@-moz-keyframes aniload {
  from {-moz-transform:translate(0px, 1000px)}
  to   {-moz-transform:translate(0px, 0px)}
}

@-ms-keyframes aniload {
  from {-ms-transform:translate(0px, 1000px)}
  to   {-ms-transform:translate(0px, 0px)}
}

@-o-keyframes aniload {
  from {-o-transform:translate(0px, 1000px)}
  to   {-o-transform:translate(0px, 0px)}
}

@keyframes aniload {
  from {transform:translate(0px, 1000px)}
  to   {transform:translate(0px, 0px)}
}

/* Step 2: Call the Animation */
#box1 {
  -moz-animation:aniload 1s;
  -ms-animation:aniload 1s;
  -o-animation:aniload 1s;
  animation:aniload 1s;

}

#box2 {
  -webkit-animation:aniload 3s;
  -moz-animation:aniload 3s;
  -ms-animation:aniload 3s;
  -o-animation:aniload 3s;
  animation:aniload 3s;
}

#box3 { 
  -webkit-animation:aniload 5s;
  -moz-animation:aniload 5s;
  -ms-animation:aniload 5s;
  -o-animation:aniload 5s;
  animation:aniload 5s;
}

.pixel {
  border: none;
  box-shadow: inset 6px 6px 0px 0px rgba(255,255,255,0.35), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 12px 12px 0px 0px rgba(0,0,0,0.20);
  font-size: 30px;
  margin: 30px;
  color: #ffffff;
  transition: all ease-in-out 0.2s;
  height: 80px;
  width: 120px;
}

.pixel:hover {
  box-shadow: inset 6px 6px 0px 0px rgba(0,0,0,0.0), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 0px 0px 0px 0px rgba(0,0,0,0.20);
}

.yellow {
  background: #fbba00;
}

.grey{
  background: #e9e9e9; 
}

.home2{
  background-image:url("/img/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}


.login{
  background-image:url("/img/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}
.pixel1 {
  border: none;
  box-shadow: inset 6px 6px 0px 0px rgba(255,255,255,0.35), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 12px 12px 0px 0px rgba(0,0,0,0.20);
  font-size: 23px;
  margin: 30px;
  color: #ffffff;
  transition: all ease-in-out 0.2s;
  height: 100px;
  width: 150px;
}

.pixel2{
  border: none;
  box-shadow: inset 6px 6px 0px 0px rgba(255,255,255,0.35), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 12px 12px 0px 0px rgba(0,0,0,0.20);
  font-size: 23px;
  margin: 30px;
  color: #000000;
  transition: all ease-in-out 0.2s;
  height: 100px;
  width: 150px;
  -moz-animation:aniload 4s;
  -ms-animation:aniload 4s;
  -o-animation:aniload 4s;
  animation:aniload 4s;
}

.pixel1:hover {
  box-shadow: inset 6px 6px 0px 0px rgba(0,0,0,0.0), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 0px 0px 0px 0px rgba(0,0,0,0.20);
}

.pixel2:hover {
  box-shadow: inset 6px 6px 0px 0px rgba(0,0,0,0.0), inset -6px -6px 0px 0px rgba(0,0,0,0.15), 0px 0px 0px 0px rgba(0,0,0,0.20);
}


.btnSesion{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.containerSesion{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.containerSesion2{
  display: flex;
  justify-content: center;
}

.css-input {
  -moz-animation:aniload 1s;
  -ms-animation:aniload 1s;
  -o-animation:aniload 1s;
  animation:aniload 1s;
  padding: 6px;
  font-size: 19px;
  border-width: 4px;
  border-color: #4c4c4c;
  background-color: #979797;
  color: #000000;
  border-style: solid;
  border-radius: 8px;
  box-shadow: -8px -6px 5px rgba(66,66,66,.75);
  text-shadow: -3px 0px 3px rgba(207, 207, 207, 0.75);
}
.css-input:focus {
  outline:none;
}

/*---------------------*/
